body {
	margin: 0;
	background-color: #1c1c1c;
	font-family: "Karla", sans-serif;
}

main {
	box-sizing: border-box;
	width: 100%;
	max-width: 550px;
	padding: 1.5em 3em;
	
	background-color: #1f2937;
	margin: 0 auto; /*center horizontally within parent */

	/* position the element center of body */
	position: absolute;
	top: 50%;
	left: 50%;
	/* position the element back by 50% of it's own width and height */
	transform: translate(-50%, -50%);

	border: 3px solid;
	border-image: linear-gradient(
			to top right,
			#a7f3d0,
			#6ee7b7,
			#34d399,
			#10b981,
			#059669,
			#047857
		)
		1;
}

/* TITLE SECTION */

#title-section {
	min-width: 100%;
	/* border: 1px solid greenyellow; */
}
.title {
	font-weight: 800;
	font-size: 2rem;
	color: #4adf86;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.title-description {
	font-weight: 400;
	font-style: normal;
	color: #d5d4d8;
}

/* BUTTON SECTION */

#button-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	/* border: 1px solid greenyellow; */
	gap: 0.75em;
}

#button-section button {
	background-color: #10b981;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
	padding: 0.5em 1em 0.5em 1em;

	color: #fff;
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.5rem;

	transition: background-color 1s;
}

/* when we hover we use transition */
#button-section button:hover {
	background-color: #047857;
}

/* When we click take into effect immediately and stay focused */
#button-section button:focus,
#button-section button:active {
	background-color: #064e3b;
	transition: none;
}

/* TOGGLE SECTION */

#toggle-section .password-label {
	font-weight: 400;
	font-style: normal;
	color: #7dd87a;
	padding-right: 0.5em;
}

#toggle-section #error {
	padding-top: 0.5em;
	color: red;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	gap: 1.25em;
	margin-top: 1rem;
}

.col {
	display: flex;
	gap: 1rem;
}

.toggle-text {
	font-weight: 500;
	color: #7dd87a;
	padding-top: 0.3em;
}

/* The switch - the box around the slider */
.toggle-label {
	position: relative;
	display: inline-block;
	width: 56px;
	height: 30px;
}

/* hide default html checkbox */
.toggle-input {
	display: none;
}

/* the slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #34d399;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 22px;
	width: 22px;
	left: 4px;
	bottom: 4px;
	background-color: #a7f3d0;
	transition: 0.4s;
}

.toggle-input:checked + .slider {
	background-color: #047857;
}

.toggle-input:checked + .slider:before {
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* SPACING */

.spacing {
	margin: 1.875em 0;
}

.spacing hr {
	border: 1px solid #2f3e53;
}

/* PASSWORD SECTION */

#password-section {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5em;
}

#password-section p {
	/* width: 210px;
	height: 40px; */
	width: 50%;
	background-color: #273549;
	border-radius: 6px;
	margin: 0;

	text-align: center;
	color: #55f991;
	font-weight: 500;
	font-size: 1rem;
	line-height: 2.3rem;
}
